/* Navbar Color */

.navbar-yellow {
    background-color: gold;
}


/* Slider Text Position */

.main-slider .carousel-caption {
    position: absolute;
    /*! right:15%; */
    top: 40%;
    left: 12%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: left;
    width: 500px;
}